[submodule "frontend/listmsc"]
	path = frontend/listmsc
	url = git@github.com:DanielNery/frontend-list-mscs-genius.git
[submodule "apis"]
	path = apis
	url = git@github.com:DanielNery/api-list-mscs-genius.git
